#NavBar {
  width: 100vw;
  justify-content: space-between;
  height: 5em;
}

.navLeftButton {
  margin-left: 1.4em;
  margin-top: 1.4em;
  height: 2.8em;
  width: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navRightButton {
  margin-right: 1.4em;
  margin-top: 1.4em;
  height: 2.8em;
  width: 2.8em;
  background-color: #222;
  border-radius: 50%;
}
