#LogIn {
  background: rgb(63,90,167);
  background: radial-gradient(circle, rgba(63,90,167,1) 10%, rgba(45,62,110,1) 100%);
  height: 8em;
  width: 80vw;
  margin: 0 auto;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

#LogIn input {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  outline-color: #3EDB74;
}

#LogIn input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

#loginButtons {
  margin: 0 auto;
  height: 12em;
  margin-top: 0.2em;
  width: 80vw;
  justify-content: space-between;
  align-items: flex-end;
}

#loginButtons > div {
  height: 94%;
  width: 48%;
  background-color: #fff;
  border-radius: 10%;
}
