#HeaderBottom {
  justify-content: space-around;
  width: 70vw;
  margin: 0 auto;
}

.headerText {
  padding: 0 0.5em;
  height: 2em;
}

.headerText > p {
  font-size: 1em;
  transition: all 2.5s;
  font-weight: 800;
}

.headerText.headerHighlight {
  color: rgb(63,90,167);
}

.boldLetters {
  color: rgb(63,90,167);
  font-weight: 800;
}
